.posts {
  margin-top: 0px;
}

form > div {
  font-size: 20px;
  justify-content: flex-start;
  width: 100%;
}

.btn {
  font-weight: 400;
  display: inline-block;
  font-size: 14px;
  width: 130px;
}


.field {
  margin-left: -10px;
}

.Feild {
  width: 100%;
}
