form > div {
    display: block;
    position: relative;
    left: -8px;
    width: 400px;
  }
  
  form > div textarea {
    width: 100%;
  }
  
  .btn {
    font-weight: 400;
    display: inline-block;
    font-size: 14px;
    width: 130px;
    position: relative;
    top: -10px;
  }
  